![imagenes](logo.png)

# Filtrado para obtener las filas para las cuales el valor de una cierta columna no está duplicado

Dado un dataframe con una columna especial, encontrar todas las filas cuyo valor de esa columna aparezca una sola vez.

En concreto: de la siguiente tabla

jugadores|matricula|torneo
:-:|:-:|:-:
Ronaldo|5896|Mundial
Federer|1111|Wimbledon
Phelps|3985|Juegos Olímpicos
Valenzuela|1111|Juego de las estrellas

al extraerse las filas cuyo valor de matrícula no está repetido deberás obtener la tabla

jugadores|matricula|torneo
:-:|:-:|:-:
Ronaldo|5896|Mundial
Phelps|3985|Juegos Olímpicos

## Solución.

In [3]:
# Cargamos nuestras bibliotecas
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --
v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.1     v dplyr   1.0.6
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1
Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'readr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"Warning message:
"package 'stringr' was built under R version 3.6.3"Warning message:
"package 'forcats' was built under R version 3.6.3"-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [1]:
#Creamos el dataframe con el cual trabajaremos

df1 = data.frame('Jugadores'= c("Ronaldo","Federer", "Phelps", "Valenzuela"),
                 'matricula' = c('5896','1111','3985','1111'),
                'Torneo'= c("Mundial","Wimbledon","Juegos Olímpicos", "Juego de las estrellas"))
    
df1

  Jugadores  matricula Torneo
1 Ronaldo    5896      Mundial
2 Federer    1111      Wimbledon
3 Phelps     3985      Juegos Olímpicos
4 Valenzuela 1111      Juego de las estrellas

Buscamos ahora un método para devolvernos las filas cuya matrícula no se repite

In [4]:
df1 %>%
    group_by(matricula) %>%
    filter(n() == 1) %>%
    ungroup()

  Jugadores matricula Torneo
1 Ronaldo   5896      Mundial
2 Phelps    3985      Juegos Olímpicos